* {
    margin: 0;
    padding: 0;
    background-color: rgb(4, 4, 18);
}
.mainHeading {
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}
.btn {
    margin-top: 8%;
    display: flex;
    justify-content: center;
}
a {
    color: white;
   text-decoration: none;
   border: 1px solid white;
   border-radius: 10px;
   margin: 0% 1.5% 0% 1.5%;
   padding: 15px 0px 0px 45px;
   height: 5vh;
   width: 6%; 
   transition: all 0.5s ease-in-out;
}
.imageCard{
    margin: 3%;
    padding: 3%;
}
.card-img-top {
    width: 200px;
    height: 200px;
    margin: 32px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.foot {
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}
a:hover {
    width: 7%;
    height: 6vh;
}
.card-img-top:hover{
    width: 202px;
    height: 210px;
}
/* ===== MEDIA QUERIES (Extra Safety) ===== */

/* Tablets */
@media (max-width: 768px) {
    .imageCard img {
        height: 200px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .mainHeading {
        font-size: 22px;
    }

    .btn-1 {
        font-size: 12px;
        padding: 6px 10px;
    }

    .imageCard img {
        height: 180px;
    }
}
/* ===== MEDIA QUERIES ===== */

/* For tablets and smaller desktops (1024px and below) */
@media screen and (max-width: 1024px) {
    .mainHeading {
        font-size: 45px;
        margin-top: 3%;
    }
    
    .btn {
        margin-top: 6%;
    }
    
    a {
        width: 8%;
        padding: 12px 0px 0px 35px;
        height: 4.5vh;
        margin: 0% 1% 0% 1%;
    }
    
    .card-img-top {
        width: 180px;
        height: 180px;
        margin: 25px;
    }
    
    a:hover {
        width: 9%;
        height: 5vh;
    }
    
    .card-img-top:hover {
        width: 182px;
        height: 190px;
    }
}

/* For tablets (768px and below) */
@media screen and (max-width: 768px) {
    .mainHeading {
        font-size: 35px;
        margin-top: 2.5%;
    }
    
    .btn {
        margin-top: 5%;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    a {
        width: 15%;
        height: 5vh;
        padding: 10px 0px 0px 20px;
        margin: 0;
        font-size: 14px;
    }
    
    .imageCard {
        margin: 2%;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card-img-top {
        width: 150px;
        height: 150px;
        margin: 15px;
    }
    
    a:hover {
        width: 16%;
        height: 5.5vh;
    }
    
    .card-img-top:hover {
        width: 152px;
        height: 160px;
    }
    
    .foot {
        font-size: 14px;
        margin-top: 2%;
    }
}

/* For mobile phones (480px and below) */
@media screen and (max-width: 480px) {
    .mainHeading {
        font-size: 28px;
        margin-top: 2%;
    }
    
    .btn {
        margin-top: 4%;
        gap: 8px;
    }
    
    a {
        width: 20%;
        height: 4vh;
        padding: 8px 0px 0px 15px;
        font-size: 12px;
        border-radius: 8px;
    }
    
    .imageCard {
        margin: 1.5%;
        padding: 1.5%;
    }
    
    .card-img-top {
        width: 130px;
        height: 130px;
        margin: 10px;
        border-radius: 8px;
    }
    
    a:hover {
        width: 21%;
        height: 4.5vh;
    }
    
    .card-img-top:hover {
        width: 132px;
        height: 138px;
    }
    
    .foot {
        font-size: 12px;
        margin-top: 1.5%;
    }
}

/* For very small mobile phones (320px and below) */
@media screen and (max-width: 320px) {
    .mainHeading {
        font-size: 22px;
        margin-top: 1.5%;
    }
    
    .btn {
        margin-top: 3%;
        gap: 6px;
    }
    
    a {
        width: 25%;
        height: 3.5vh;
        padding: 6px 0px 0px 10px;
        font-size: 10px;
        border-radius: 6px;
    }
    
    .imageCard {
        margin: 1%;
        padding: 1%;
    }
    
    .card-img-top {
        width: 100px;
        height: 100px;
        margin: 8px;
        border-radius: 6px;
    }
    
    a:hover {
        width: 26%;
        height: 4vh;
    }
    
    .card-img-top:hover {
        width: 102px;
        height: 108px;
    }
    
    .foot {
        font-size: 10px;
        margin-top: 1%;
    }
}